spring:
  config:
    import: optional:dotenv:.
    activate:
      on-profile: prod
  session:
    store-type: redis

  batch:
    jdbc:
      initialize-schema: never # 최초 실행 후에는 다시 never로 바꾸기
    job:
      enabled: false

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

    hikari:
      pool-name: Mopl-HikariPool
      jdbc-url: jdbc:mysql://${DB_HOST}:${DB_PORT}/${DB_NAME}?useSSL=false&serverTimezone=UTC
      username: ${DB_USERNAME}
      password: ${DB_PASSWORD}
      driver-class-name: com.mysql.cj.jdbc.Driver
      # 최대/최소 커넥션 개수
      maximum-pool-size: 20
      minimum-idle: 5

      # 커넥션 획득 대기 시간
      connection-timeout: 30000
      # 커넥션 최대 수명
      max-lifetime: 1800000
      # 유휴 커넥션 폐기 시간
      idle-timeout: 600000

      # 성능 최적화를 위한 내부 쿼리 캐싱 설정
      prep-stmt-cache-size: 250
      prep-stmt-cache-sql-limit: 2048
      cache-prep-stmts: true

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

server:
  port: 8080
  servlet:
    session:
      cookie:
        secure: false # HTTPS 확장 후 true
        same-site: lax # HTTPS 확장 후 none

file:
  upload-dir: ${FILE_UPLOAD_DIR:/app/uploads}

aws:
  accessKeyId: ${AWS_ACCESS_KEY}
  secretKey: ${AWS_SECRET_KEY}
  region: ${AWS_REGION}
  s3:
    bucket: ${AWS_S3_BUCKET}
    prefix: uploads

logging:
  level:
    team6.final-project.aws: INFO
    org.hibernate.SQL: off
    org.hibernate.orm.jdbc.bind: off
    org.springframework.web: info
    #com.zaxxer.hikari: DEBUG #커넥션풀 확인용
